<!DOCTYPE html>
<html ng-app="example">
    <head>
        <title>BG Cropper</title>
        <link href="../dev/cropper.css" rel="stylesheet" type="text/css"/>
        <style>
            body {
                padding: 100px 0 0 250px;
            }
            bg-image-cropper canvas {
                position: fixed;
                top: 10px;
                right: 10px;
            }
            bg-image-cropper input[type="file"] {
                visibility: hidden;
            }

            .bgic-source {
                min-width: 200px;
                min-height: 200px;
                background-color: orange;
            }
        </style>
    </head>
    <body ng-controller="ExampleCtrl">
        <bg-image-cropper bgic-preview-height="200" bgic-preview-width="200" bgic-preview-rounded="true" ng-model="pic"></bg-image-cropper>
        <br>
        <button ng-click="clear()">Clear Pic</button>
        <button ng-click="pickIt()">Pick A Pic</button>
        <button ng-click="upload()">Upload It!</button>
        <script src="../bower_components/angular/angular.min.js" type="text/javascript"></script>
        <script src="../bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.min.js" type="text/javascript"></script>
        <script src="../dev/cropper.js" type="text/javascript"></script>
        <script src="example.js" type="text/javascript"></script>
    </body>
</html>
